 .alert-pane{
  -fx-border-color:orange;
  -fx-border-width:2.0px;
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color:orange;
}

.dialog-pane > .content.label {
/*   -fx-padding: 0.5em 0.5em 0.5em 0.5em;*/
   -fx-background-color: orange;
   -fx-text-fill:white;
   -fx-font-size:15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: orange;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: orange;
  -fx-background-radius:10px;
  -fx-text-fill:white;
  -fx-font-size:15.0px;
}


.dialog-pane .button{
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color:  #FF8C00;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-text-fill-size: 30;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;

 }
.dialog-pane .button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.dialog-pane .button:hover{     
-fx-background-color: #3a3a3a;; 
 }

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}